<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="index.html"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="educate-icon educate-nav"></i>
                                            </button>
                                    </div>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                                    <div class="header-top-menu tabl-d-n">
                                        <ul class="nav navbar-nav mai-top-nav rtl floatright " >
                                            <li class="nav-item"><a id="myThirdHeader" href="#" class="nav-link"></a>
                                            </li>
                                            <li class="nav-item"><a id="mySecondHeader" href="#" class="nav-link"></a>
                                            </li>
                                            <li class="nav-item"><a id="myFirstHeader" href="#" class="nav-link">خانه</a>
                                            </li>



                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li><a data-toggle="collapse" data-target="#Charts" href="#">الگوریتم های تقسیم و حل <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a data-toggle="collapse" data-target="#Charts" href="#">مرتب سازی ها <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul class="collapse dropdown-header-top">
                                                    <li><a href="/algorithm/bubble-sort">حبابی</a></li>
                                                    <li><a  href="/algorithm/selection-sort">انتخابی</a></li>
                                                    <li><a  href="/algorithm/insertion-sort">درجی</a></li>
                                                    <li><a href="/algorithm/quick-sort">سریع</a></li>
                                                    <li><a href="/algorithm/merge-sort">ادغامی</a></li>
                                                    <li><a href="/algorithm/heap-sort">هیپ</a></li>
                                                    <li><a href="/compare/sort">مقایسه</a></li>
                                                </ul>
                                            </li>
                                            <li><a data-toggle="collapse" data-target="#Charts" href="#">ضرب ماتریس ها <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul class="collapse dropdown-header-top">
                                                    <li><a href="/algorithm/simple-matrix-multiple">ضرب معمولی</a></li>
                                                    <li><a href="/algorithm/strassen--matrix-multiple">ضرب استراسن</a></li>
                                                    <li><a href="/compare/matrix-multiple">مقایسه</a></li>
                                                </ul>
                                            </li>
                                            <li><a data-toggle="collapse" data-target="#Charts" href="#">ضرب اعداد بزرگ<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul class="collapse dropdown-header-top">
                                                    <li><a href="/algorithm/simple-multiple">روش معمولی</a></li>
                                                    <li><a href="/algorithm/karatsuba-multiple">کاراتسوبا</a></li>
                                                    <li><a href="/compare/multiple">مقایسه</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/algorithm/maximum-sub-array">یافتن زیر آرایه بیشینه</a></li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#Charts" href="#">الگوریتم های حریصانه<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a href="/algorithm/activity-selection">انتخاب فعالیت ها</a></li>
                                            <li><a href="/algorithm/huffman">کد هافمن</a></li>
                                            <li><a href="/algorithm/job-scheduling">زمان بندی کار ها</a></li>

                                            <li><a data-toggle="collapse" data-target="#Charts" href="#">الگوریتم های گراف <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul class="collapse dropdown-header-top">
                                                    <li><a data-toggle="collapse" data-target="#Charts" href="#">پیمایسش گراف <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                        <ul class="collapse dropdown-header-top">
                                                            <li><a href="/algorithm/dfs">پیمایش اول عمق</a></li>
                                                            <li><a href="/algorithm/bfs">پیمایش اول سطح</a></li>
                                                            <li><a href="/compare/search">مقایسه</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a data-toggle="collapse" data-target="#Charts" href="#">درخت پوشای مینیمال <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                        <ul class="collapse dropdown-header-top">
                                                            <li><a href="/algorithm/prim">پرایم</a></li>
                                                            <li><a href="/algorithm/kruskals">کراسکال</a></li>
                                                            <li><a href="/compare/mst">مقایسه</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a data-toggle="collapse" data-target="#Charts" href="#">کوتاه ترین مسیر ها<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                        <ul class="collapse dropdown-header-top">
                                                            <li><a href="/algorithm/dijkstras">دایجسترا</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="nav navbar-nav mai-top-nav rtl floatright " >
                                <li class="nav-item"><a id="myThirdHeader1" href="#" class="nav-link"></a>
                                </li>
                                <li class="nav-item"><a id="mySecondHeader1" href="#" class="nav-link"></a>
                                </li>
                                <li class="nav-item"><a id="myFirstHeader1" href="#" class="nav-link">خانه</a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->
       
    </div>