<div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
								   <span class="fa fa-star-half-o"></span>
								   <span class="mini-click-non">الگوریتم های تقسیم و حل</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                        <li class="">
                            <a class="has-arrow" href="index.html">
								   <span class="fa fa-sort-amount-desc"></span>
								   <span class="mini-click-non">مرتب سازی ها</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="حبابی" href="index.html"><span class="mini-sub-pro">حبابی</span></a></li>
                                <li><a title="انتخابی" href="index-1.html"><span class="mini-sub-pro">انتخابی</span></a></li>
                                <li><a title="درجی" href="index-2.html"><span class="mini-sub-pro">درجی</span></a></li>
                                <li><a title="سریع" href="analytics.html"><span class="mini-sub-pro">سریع</span></a></li>
                                <li><a title="ادغامی" href="widgets.html"><span class="mini-sub-pro">ادغامی</span></a></li>
                                <li><a title="هیپ" href="widgets.html"><span class="mini-sub-pro">هیپ</span></a></li>

                            </ul>
                        </li>
                        <li>
                          <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="fa fa-th"></span> <span class="mini-click-non">ضرب ماتریس ها</span></a>
                          <ul class="submenu-angle" aria-expanded="false">
                              <li><a title="All Professors" href="all-professors.html"><span class="mini-sub-pro">ضرب معمولی</span></a></li>
                              <li><a title="Add Professor" href="add-professor.html"><span class="mini-sub-pro">ضرب استراسن</span></a></li>
                          </ul>
                      </li>
                        <li>
                            <a class="has-arrow" href="all-students.html" aria-expanded="false"><span class="fa fa-times"></span> <span class="mini-click-non">ضرب اعداد بزرگ</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Students" href="all-students.html"><span class="mini-sub-pro">روش معمولی</span></a></li>
                                <li><a title="Add Students" href="add-student.html"><span class="mini-sub-pro">کاراتسوبا</span></a></li>
                            </ul>
                        </li>
                        <li>
                          <a title="Landing Page" href="events.html" aria-expanded="false"><span class="fa fa-magic " aria-hidden="true"></span> <span class="mini-click-non">یافتن زیر آرایه بیشینه</span></a>
                      </li>
                            </ul>

                        </li>
                        <li class="active">
                            <a class="has-arrow" href="index.html">
								   <span class="educate-icon educate-home icon-wrap"></span>
								   <span class="mini-click-non">الگوریتم های حریصانه</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li>
                                    <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">انتخاب فعالیت ها</span></a>
                                </li>
                                <li>
                                    <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">کد هافمن</span></a>
                                </li>
                                <li>
                                    <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">زمان بندی کارها</span></a>
                                </li>
                        <li class="">
                            <a class="has-arrow" href="index.html">
								   <span class="educate-icon educate-home icon-wrap"></span>
								   <span class="mini-click-non">الگوریتم های گراف</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li class="">
                                    <a class="has-arrow" href="index.html">
                           <span class="educate-icon educate-home icon-wrap"></span>
                           <span class="mini-click-non">پیمایش درخت</span>
                        </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li><a title="پیمایش اول عمق" href="index.html"><span class="mini-sub-pro">پیمایش اول عمق</span></a></li>
                                        <li><a title="یمایش اول سطح" href="index-1.html"><span class="mini-sub-pro">یمایش اول سطح</span></a></li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a class="has-arrow" href="index.html">
                           <span class="educate-icon educate-home icon-wrap"></span>
                           <span class="mini-click-non">درخت پوشای مینیمال</span>
                        </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li><a title="پرایم" href="index.html"><span class="mini-sub-pro">پرایم</span></a></li>
                                        <li><a title="کراسکال" href="index-1.html"><span class="mini-sub-pro">کراسکال</span></a></li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a class="has-arrow" href="index.html">
                           <span class="educate-icon educate-home icon-wrap"></span>
                           <span class="mini-click-non">کوتاه ترین مسیر ها</span>
                        </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li><a title="دایجسترا" href="index.html"><span class="mini-sub-pro">دایجسترا</span></a></li>
                                    </ul>
                                </li>
                               </ul>
                        </li>
                      
                       
                    </ul>
                </nav>
            </div>
        </nav>
    </div>