<div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
                <strong><a href="index.html"><img src="/img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="#">
								   <span class="fa fa-star-half-o"></span>
								   <span class="mini-click-non">الگوریتم های تقسیم و حل</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                        <li class="">
                            <a class="has-arrow" href="index.html">
								   <span class="fa fa-sort-amount-desc"></span>
								   <span class="mini-click-non">مرتب سازی ها</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="حبابی" href="/algorithm/bubble-sort"><span class="mini-sub-pro">حبابی</span></a></li>
                                <li><a title="انتخابی" href="/algorithm/selection-sort"><span class="mini-sub-pro">انتخابی</span></a></li>
                                <li><a title="درجی" href="/algorithm/insertion-sort"><span class="mini-sub-pro">درجی</span></a></li>
                                <li><a title="سریع" href="/algorithm/quick-sort"><span class="mini-sub-pro">سریع</span></a></li>
                                <li><a title="ادغامی" href="/algorithm/merge-sort"><span class="mini-sub-pro">ادغامی</span></a></li>
                                <li><a title="هیپ" href="/algorithm/heap-sort"><span class="mini-sub-pro">هیپ</span></a></li>
                                <li><a title="مقایسه" href="/compare/sort"><span class="mini-sub-pro">مقایسه</span></a></li>
                            </ul>
                        </li>
                        <li>
                          <a class="has-arrow" href="#" aria-expanded="false"><span class="fa fa-th"></span> <span class="mini-click-non">ضرب ماتریس ها</span></a>
                          <ul class="submenu-angle" aria-expanded="false">
                              <li><a title="All Professors" href="/algorithm/simple-matrix-multiple"><span class="mini-sub-pro">ضرب معمولی</span></a></li>
                              <li><a title="Add Professor" href="/algorithm/strassen--matrix-multiple"><span class="mini-sub-pro">ضرب استراسن</span></a></li>
                              <li><a title="مقایسه" href="/compare/matrix-multiple"><span class="mini-sub-pro">مقایسه</span></a></li>

                          </ul>
                      </li>
                        <li>
                            <a class="has-arrow" href="all-students.html" aria-expanded="false"><span class="fa fa-times"></span> <span class="mini-click-non">ضرب اعداد بزرگ</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Students" href="/algorithm/simple-multiple"><span class="mini-sub-pro">روش معمولی</span></a></li>
                                <li><a title="Add Students" href="/algorithm/karatsuba-multiple"><span class="mini-sub-pro">کاراتسوبا</span></a></li>
                                <li><a title="مقایسه" href="/compare/multiple"><span class="mini-sub-pro">مقایسه</span></a></li>

                            </ul>
                        </li>
                        <li>
                          <a title="Landing Page" href="/algorithm/maximum-sub-array" aria-expanded="false"><span class="fa fa-magic " aria-hidden="true"></span> <span class="mini-click-non">یافتن زیر آرایه بیشینه</span></a>
                      </li>
                            </ul>

                        </li>
                        <li class="active">
                            <a class="has-arrow" href="index.html">
								   <span class="fa fa-diamond "></span>
								   <span class="mini-click-non">الگوریتم های حریصانه</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li>
                                    <a title="Landing Page" href="/algorithm/activity-selection" aria-expanded="false"><span class="educate-icon educate-event " aria-hidden="true"></span> <span class="mini-click-non">انتخاب فعالیت ها</span></a>
                                </li>
                                <li>
                                    <a title="Landing Page" href="/algorithm/huffman" aria-expanded="false"><span class="fa fa-file-archive-o " aria-hidden="true"></span> <span class="mini-click-non">کد هافمن</span></a>
                                </li>
                                <li>
                                    <a title="Landing Page" href="/algorithm/job-scheduling" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">زمان بندی کارها</span></a>
                                </li>
                        <li class="">
                            <a class="has-arrow" href="index.html">
								   <span class="fa fa-star-o"></span>
								   <span class="mini-click-non">الگوریتم های گراف</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li class="">
                                    <a class="has-arrow" href="#">
                           <span class="fa fa-code-fork"></span>
                           <span class="mini-click-non">پیمایش گراف</span>
                        </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li><a title="پیمایش اول عمق" href="/algorithm/dfs"><span class="mini-sub-pro">پیمایش اول عمق</span></a></li>
                                        <li><a title="یمایش اول سطح" href="/algorithm/bfs"><span class="mini-sub-pro">یمایش اول سطح</span></a></li>
                                        <li><a title="مقایسه" href="/compare/search"><span class="mini-sub-pro">مقایسه</span></a></li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a class="has-arrow" href="index.html">
                           <span class="fa fa-code-fork"></span>
                           <span class="mini-click-non">درخت پوشای مینیمال</span>
                        </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li><a title="پرایم" href="/algorithm/prim"><span class="mini-sub-pro">پرایم</span></a></li>
                                        <li><a title="کراسکال" href="/algorithm/kruskals"><span class="mini-sub-pro">کراسکال</span></a></li>
                                        <li><a title="مقایسه" href="/compare/mst"><span class="mini-sub-pro">مقایسه</span></a></li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a class="has-arrow" href="index.html">
                           <span class="fa fa-code-fork"></span>
                           <span class="mini-click-non">کوتاه ترین مسیر ها</span>
                        </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li><a title="دایجسترا" href="/algorithm/dijkstras"><span class="mini-sub-pro">دایجسترا</span></a></li>
                                    </ul>
                                </li>
                               </ul>
                        </li>
                      
                       
                    </ul>
                </nav>
            </div>
        </nav>
    </div>