

.node-heap {
  cursor: pointer;
}

.node-heap circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.node-heap text {
  font: 10px sans-serif;
}

.link-heap {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}




@-webkit-keyframes argh-my-eyes {
  0%   { background-color: #fff; }
  49% { background-color: #fff; }
  50% { background-color: #000; }
  99% { background-color: #000; }
  100% { background-color: #ff0000; }
}
@-moz-keyframes argh-my-eyes {
  0%   { background-color: #ff0000; }
  49% { background-color: #ff0000; }
  50% { background-color: #000; }
  99% { background-color: #000; }
  100% { background-color: #ff0000; }
}
@keyframes argh-my-eyes {
  0%   { background-color: #ff0000; }
  49% { background-color: #ff0000; }
  50% { background-color: #000; }
  99% { background-color: #000; }
  100% { background-color: #ff0000; }
}

#invalidLink{
  -webkit-animation: argh-my-eyes 0.5s infinite;
  -moz-animation:    argh-my-eyes 0.5s infinite;
  animation:         argh-my-eyes 0.5s infinite;
}

.link-huffman {
  stroke: #C2C2C2;
  stroke-width: 3px;
}

.node-huffman circle {
  stroke: #4682b4;
  stroke-width: 2px;
  fill: #ffffff;
}

.node-huffman text {
  font-family: sans-serif;
  font-size: 10px;
  color: #37c70e;
}