<div class="breadcome-area" style="margin-top: 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading">
                                <div class="btn-group active-hook">
                                    <input type="file" class="btn btn-default"></input>
                                    <button class="btn btn-default"><i class="fa fa-eye"></i> نمایش الگوریتم</button>
                                    <button class="btn btn-default"><i class="fa fa-bar-chart-o"></i> تحلیل الگوریتم</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>