<div class="breadcome-area" style="margin-top: 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-heading">
                                <form id="operation-form" action="#" method="post" enctype="multipart/form-data">
                                <div class="btn-group active-hook">
                                        <input name='file' type="file" class="btn btn-default"/>
                                    <select class="btn btn-default" name="alg1" id="alg1">
                                        <option value="">الگوریتم اول</option>
                                    </select>
                                    <select class="btn btn-default" name="alg2" id="alg2">
                                        <option value="">الگوریتم دوم</option>
                                    </select>
                                    <button type="submit" class="btn btn-default" id="compare-algorithm" ><i class="fa fa-bar-chart-o"></i> تحلیل الگوریتم ها</button>

                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>